.Friends {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    background-color: #f0f2f5;
}

.Friends .intro-feed-post .left-Friends .intro-live-from-inrela-following {

    border-radius: 7px;
    padding: 0.6rem;
    border: 1px solid rgb(221, 221, 221);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    display: flex;
    flex-direction: column;
    gap: .5rem;
    justify-content: center;
    background-color: white;
}

.Friends .intro-feed-post .left-Friends .intro-live-from-inrela-following div {
    gap: .3rem;
    display: flex;
    font-size: .6rem;
    align-items: center;
}


.Friends .intro-feed-post .left-Friends .photo-all-img {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    border-radius: 7px;
    padding: 0.6rem;
    border: 1px solid rgb(221, 221, 221);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: white;
}

.Friends .intro-feed-post .left-Friends .photo-all-img .photo-all {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.Friends .intro-feed-post .left-Friends .photo-all-img .center-photo {
    display: flex;
    align-items: center;
    justify-content: center;


}

.Friends .intro-feed-post .left-Friends .photo-all-img .center-photo .photo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.Friends .intro-feed-post .left-Friends .photo-all-img .center-photo .photo img {
    border-radius: 8px;
    width: 128px;
}


.Friends .intro-feed-post .left-Friends .text-img-friends {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    border-radius: 7px;
    padding: 0.6rem;
    border: 1px solid rgb(221, 221, 221);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: white;
}

.Friends .intro-feed-post .left-Friends .text-img-friends .text {
    display: flex;
    justify-content: space-between;
}

.Friends .intro-feed-post .left-Friends .text-img-friends .center-friends {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Friends .intro-feed-post .left-Friends .text-img-friends .center-friends .friends {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.Friends .intro-feed-post .left-Friends .text-img-friends .center-friends .friends img {
    border-radius: 8px;
    width: 128px;
}


.Friends .background {
    width: 100%;
    background-color: white;
    border: 1px solid rgb(221, 221, 221);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}


.Friends .background .img-photo-name-edit-name {
    margin: 0 auto;
    width: 66%;
}

.Friends .background .img-photo-name-edit-name .img-photo-edit {
    position: relative;
    text-align: center;
}

.Friends .background .img-photo-name-edit-name .img-photo-edit .edit-cover-photo {
    position: absolute;
    bottom: 18px;
    right: 16px;

    border: none;
    background-color: aliceblue;
    padding: .3rem;
    border-radius: 8px;
    cursor: pointer;
}

.Friends .background .img-photo-name-edit-name .img-photo-edit .person-photo {
    cursor: pointer;
    position: absolute;
    bottom: -10px;
    left: 16px;
    border-radius: 50%;
    border: 4px solid white;
}

.Friends .background .img-photo-name-edit-name .name-edit-Friends {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;
}

.Friends .background .img-photo-name-edit-name .name-edit-Friends .name {
    margin-left: 10rem;
}

.Friends .background .img-photo-name-edit-name .name-edit-Friends .add-message {
    border: none;
    padding: .3rem;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    gap: .5rem;
}

.Friends .background .img-photo-name-edit-name .name-edit-Friends .add-message .add {
    border-radius: 7px;
    padding: 0.5rem;
    border: 1px solid rgb(221, 221, 221);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: rgb(46, 77, 215);
}

.Friends .background .img-photo-name-edit-name .name-edit-Friends .add-message .message {
    border-radius: 7px;
    padding: 0.5rem;
    border: 1px solid rgb(221, 221, 221);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: white;
}

.Friends .background .img-photo-name-edit-name .post-about-friend-photo-video-more {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Friends .background .img-photo-name-edit-name .post-about-friend-photo-video-more .post-about-friend-photo-video button {
    border: none;
    background-color: white;
    margin-left: 0.5rem;
    padding: 1rem;
    cursor: pointer;
}

.Friends .background .img-photo-name-edit-name .post-about-friend-photo-video-more .more {
    cursor: pointer;
    background-color: rgb(224, 224, 224);
    width: 3rem;
    height: 2rem;
    border-radius: 8px;
}

.Friends .intro-feed-post {
    display: flex;
    margin: 0 auto;
    width: 66%;
    gap: 1rem;
}

.Friends .intro-feed-post .left-Friends {
    flex: 6;
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.Friends .intro-feed-post .right-Friends {
    flex: 6;
}