.PostProfile {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.PostProfile .post {
    margin: 0 auto;
    width: 520px;
    display: flex;
    flex-direction: column;
    padding: 0 .3rem;
    gap: 7px;
    border-radius: 7px;
    padding: 0.6rem;
    border: 1px solid rgb(221, 221, 221);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: white;

}

.PostProfile .post .img-name-more {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.PostProfile .post .img-name-more .img-name {
    display: flex;
    align-items: center;
}

.PostProfile .post .img-name-more .img-name img {
    border-radius: 50%;
    margin-right: 0.4rem;
}

.PostProfile .post .numof-like-comment-share {
    display: flex;
    justify-content: space-between;
    padding: 0.3rem;
}

.PostProfile .post .numof-like-comment-share .numof-comment-share {
    display: flex;
    padding: 0 0.3rem 0 0.3rem;
}

.PostProfile .post .numof-like-comment-share .numof-comment-share h5 {
    padding: 0 0.3rem 0 0.3rem;
}

.PostProfile .post hr {
    background-color: rgb(212, 212, 212);
    color: rgb(212, 212, 212);
    height: 0.1rem;
    border: none;
}

.PostProfile .post .like-comment-share {
    display: flex;
    justify-content: space-around;
}

.PostProfile .post .like-comment-share .like-comment-share-edit {
    display: flex;
    align-items: center;
}

.PostProfile .post .like-comment-share .like-comment-share-edit button {
    padding: 0.2rem;
    border: none;
    background-color: white;
    cursor: pointer;
    font-size: 1rem;
}